:root {
    --color-black: black;
    --color-black-trasnparent-nine:rgba(0, 0, 0, 0.9);
    --color-black-transparent: rgba(0, 0, 0, 0.5); /* Negro con 50% de transparencia */
    --color-white: white;
    --color-red: red;
    --color-green: green;
    --color-yellow-green: yellowgreen; /* Cambiado para mayor claridad */

    --padding-header: 15px 0;
    --padding-footer: 10px 0;
    --margin-main-bottom: 150px;

    --width-full: 100%;
    --border-width: 1px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    border: var(--border-width) solid var(--color-black);
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: var(--padding-header);
}

main {
    margin-bottom: var(--margin-main-bottom);
}

footer {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: var(--padding-footer);
    position: fixed;
    width: var(--width-full);
    bottom: 0;
}

footer span,
footer p {
    display: block;
    margin: 0;
}

.hero-image {
    width: var(--width-full);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image img {
    width: var(--width-full);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de transparencia */
}

.section_weather h2::after {
    display: none;
}

.section_data_content {
    display: flex;
}

.section_data_left {
    text-align: end;
}

.section_weather_content {
    display: flex;
}

.section_weather_left {
    text-align: end;
    width: 60%;
}

.section_weather {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .section_weather h2::after {
        content: url("../images/dayNight.svg");
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .weather_svg{
        display: none;
    }
    
    .section_data,
    .section_weather {
        width: 200px;
        position: absolute;
    }
    
    .hero-image {
        position: relative;
    }
    
    .section_data {
        top: 20%;
        left: 30px;
        display: flex;
        align-items: flex-start;
    }

    .section_weather {
        margin-top: 50px;
        bottom: 0px;
        right: 30px;
        display: flex;
        align-items: flex-start;
    }

    h2 {
        background-color: var(--color-black-trasnparent-nine);
        color: white;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section_weather_content {
        width: 100%;
    }
}
