@media(min-width: 850px){
    #btnHamburger{
        display: none;
    }

    /* el right funciona porque viene del otro css donde ya exsiste la propiedad position */
    .hamburguerMenu{
        width: 60%;
        right: 0;
        top: 0;
    }
    .hamburgerUl{
        flex-direction: row;
    }
    main{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    #closeNavClick{
        display: none;
    }
    nav ul{
        width: 600px;
        display: flex;        
        justify-content: space-around;
    }
    nav{
        display: flex;
        align-content: center;
        transform: none;
    }

}
